@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body {
	display: flex;
	justify-content: center;
	background-color: #000;
	color: #fff;
	font-family: 'Merriweather', serif;
	margin: 0;
	padding: 0;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
}

.hello {
	font-weight: 700;
	font-size: 64px;
	margin-top: 20px;
	padding: 0;
}

.mphrase {
	margin-top: 10px;
	width: 200px;
	font-weight: 400;
	text-align: center;
	padding: 0;
}

.today {
	color: #bd1f13;
}

.random {
	height: 100px;
	width: 438px;
	margin-top: 20px;
	border: 5px solid #fff;
	font-family: 'Merriweather', serif;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
}

.random:hover {
	cursor: pointer;
}

@media (max-width: 425px) {
	.hello {
		font-size: 48px;
	}
	.random {
		width: 328px;
	}
}

@media (max-width: 320px) {
	.hello {
		font-size: 36px;
	}
	.random {
		width: 246px;
	}
}